$timing: 300ms;


@mixin fill {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.page {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.transitionPage {
  max-width: 100%;
}

.trans {
  width: 100%;
  transition: $timing;
  transition-timing-function: ease;

  &.enter {
    z-index: 10;
  }

  &.exit {
    z-index: 9;
  }

  &.active {
    position: fixed;
  }

  &.done {
    position: relative !important;
    transform: none !important;
  }
}

.toLeft.enter {
  @include fill;
  transform: translateX(-100px);

  &.active,
  &.done {
    transform: translateX(0);
  }

  + .exit {
    transform: translateX(0) !important;

    &.active {
      transform: translateX(100px) !important;
    }
  }
}

.toLeft.exit {
  @include fill;

  &.active {
    transform: translateX(100px);
  }

  + .enter {
    transform: translateX(-100px) !important;

    &.active,
    &.done {
      transform: translateX(0) !important;
    }
  }
}


.toRight.enter {
  @include fill;
  transform: translateX(100px);

  &.active,
  &.done {
    transform: translateX(0);
  }

  + .exit {
    transform: translateX(0) !important;

    &.active,
    &.done {
      transform: translateX(-100px) !important;
    }
  }
}

.toRight.exit {
  @include fill;

  &.active {
    transform: translateX(-100px);
  }

  + .enter {
    transform: translateX(20px) !important;

    &.active,
    &.done {
      transform: translateX(0) !important;
    }
  }
}

.enter {
  opacity: 0;

  &.active,
  &.done {
    opacity: 1;
  }
}

.exit {
  opacity: 1;

  &.active,
  &.done {
    opacity: 0;
  }
}


.default-trans-enter {
  @include fill;
  transform: translateX(20px);

  &.default-trans-enter-active {
    transform: translateX(0);
  }
}

.default-trans-exit {
  @include fill;

  &.default-trans-exit-active {
    transform: translateX(-20px);
  }
}


//폰트 thin:200, light:300, regular:400, bold:500

//Spoqa Han Sans
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 200;
  src: url('../src/fonts/SpoqaHanSans/SpoqaHanSansThin.ttf'),
  url('../src/fonts/SpoqaHanSans/SpoqaHanSansThin.woff'),
  url('../src/fonts/SpoqaHanSans/SpoqaHanSansThin.woff2');
}
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  src: url('../src/fonts/SpoqaHanSans/SpoqaHanSansLight.ttf'),
  url('../src/fonts/SpoqaHanSans/SpoqaHanSansLight.woff'),
  url('../src/fonts/SpoqaHanSans/SpoqaHanSansLight.woff2');
}
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  src: url('../src/fonts/SpoqaHanSans/SpoqaHanSansRegular.ttf'),
  url('../src/fonts/SpoqaHanSans/SpoqaHanSansRegular.woff'),
  url('../src/fonts/SpoqaHanSans/SpoqaHanSansRegular.woff2');
}
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 500;
  src: url('../src/fonts/SpoqaHanSans/SpoqaHanSansBold.ttf'),
  url('../src/fonts/SpoqaHanSans/SpoqaHanSansBold.woff'),
  url('../src/fonts/SpoqaHanSans/SpoqaHanSansBold.woff2');
}

//Noto Sans KR
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 200;
  src: url('../src/fonts/NotoSansKR-WEB/NotoSansKR-Thin.otf'),
  url('../src/fonts/NotoSansKR-WEB/NotoSansKR-Thin.woff'),
  url('../src/fonts/NotoSansKR-WEB/NotoSansKR-Thin.woff2');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  src: url('../src/fonts/NotoSansKR-WEB/NotoSansKR-Light.otf'),
  url('../src/fonts/NotoSansKR-WEB/NotoSansKR-Light.woff'),
  url('../src/fonts/NotoSansKR-WEB/NotoSansKR-Light.woff2');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: url('../src/fonts/NotoSansKR-WEB/NotoSansKR-Regular.otf'),
  url('../src/fonts/NotoSansKR-WEB/NotoSansKR-Regular.woff'),
  url('../src/fonts/NotoSansKR-WEB/NotoSansKR-Regular.woff2');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: url('../src/fonts/NotoSansKR-WEB/NotoSansKR-Bold.otf'),
  url('../src/fonts/NotoSansKR-WEB/NotoSansKR-Bold.woff'),
  url('../src/fonts/NotoSansKR-WEB/NotoSansKR-Bold.woff2');
}

//font class

.notoThin {
  font-family: 'Noto Sans KR';
  font-weight: 200;
}
.notoLight {
  font-family: 'Noto Sans KR';
  font-weight: 300;
}
.notoRegular {
  font-family: 'Noto Sans KR';
  font-weight: 400;
}
.notoBold {
  font-family: 'Noto Sans KR';
  font-weight: 500;
}


.spoqaThin {
  font-family: 'Spoqa Han Sans';
  font-weight: 200;
}
.spoqaLight {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
}
.spoqaRegular {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
}
.spoqaBold {
  font-family: 'Spoqa Han Sans';
  font-weight: 500;
}